{% extends "common/base_pdf.html" %}
{% load humanize %}

{% block styles %}
table {
    table-layout: fixed;
    border-image: initial;
    margin: -10px auto 20px;
    padding: 0;
}
table td {
    padding-left: 5px;
    padding-right: 5px;
}
table>tbody>tr {
    height: 30px;
}
{% endblock %}

{% block content %}
    <table>
        <colgroup>
            <col style="width: 100px"/>
            <col style="width: 100px"/>
            <col style="width: 100px"/>
            <col style="width: 100px"/>
            <col style="width: 100px"/>
            <col style="width: 100px"/>
            <col style="width: 100px"/>
            <col style="width: 120px"/>
            <col style="width: 120px"/>
        </colgroup>
        {% include 'partner/partner_order_head.html' %}
        <tr><td colspan="9">&nbsp;</td></tr>
        <tr>
            <td colspan="9">下記の通り注文致しますので、ご了承の上、折り返し注文請書をご送付下さい。</td>
        </tr>
        <tr><td colspan="9">&nbsp;</td></tr>
        {% include 'partner/partner_company_order_body.html' %}
    </table>
{% endblock %}