{% extends "admin/change_form.html" %}

{% block extrastyle %}
    {{ block.super }}
<style type="text/css">
fieldset.permission_group {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
div.checkbox-inline {
    display: inline-block;
    min-width: 250px;
}
</style>
{% endblock %}

{% block field_sets %}
{% for fieldset in adminform %}
    <fieldset class="module aligned {{ fieldset.classes }}">
        {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
        {% if fieldset.description %}
            <div class="description">{{ fieldset.description|safe }}</div>
        {% endif %}
        {% for line in fieldset %}
            <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                {% for field in line %}
                    {% if field.field.name == 'permissions' %}
                        {% for app_name, permissions_in_app in all_permission.items %}
                            <fieldset class="module aligned ">
                                <h2>{{ app_name }}の権限設定</h2>
                                {% for content_type_name, permissions in permissions_in_app.items %}
                                    <fieldset class="permission_group">
                                        <legend>{{ content_type_name }}</legend>
                                        <div>
                                            {% for p in permissions %}
                                                <div class="checkbox-inline">
                                                    <input
                                                            type="checkbox"
                                                            name="permissions"
                                                            value="{{ p.permission.pk }}"
                                                            id="id_perm_{{ p.permission.pk }}"
                                                            {% if p.checked %}checked{% endif %}
                                                    />
                                                    <label for="id_perm_{{ p.permission.pk }}" class="vCheckboxLabel" >
                                                        {{ p.permission.name }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </fieldset>
                                {% endfor %}
                            </fieldset>
                        {% endfor %}
                    {% else %}
                        <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                            {% if field.is_checkbox %}
                                {{ field.field }}{{ field.label_tag }}
                            {% else %}
                                {{ field.label_tag }}
                                {% if field.is_readonly %}
                                    <div class="readonly">{{ field.contents }}</div>
                                {% else %}
                                    {{ field.field }}
                                {% endif %}
                            {% endif %}
                            {% if field.field.help_text %}
                                <div class="help">{{ field.field.help_text|safe }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </fieldset>
{% endfor %}
{% endblock %}